<!-- <div class="spinner-container" *ngIf="timelineDataSource.loading$ | async">
    <mat-progress-spinner></mat-progress-spinner>>
</div> -->
<mat-table datasource="timelineData">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.endDate}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>